
<div class="container">
  <div class="spacer"></div>
  <div class="blog">

    <div id="admin" class="display-panel content">
      <h1>Admin Panel</h1>
      <table>
        <tr>
          <th></th>
          <th>Title</th>
        </tr>

        <tr>
          <td class="new-article"><%= link_to 'New article', new_article_path %></td>
          <td></td>
        </tr>

        <% @articles.each do |article| %>
          <tr>
            <td><%= link_to 'Edit', edit_article_path(article) %> | <%= link_to 'Delete', article_path(article), 
              method: :delete, 
              data: { confirm: 'Are you sure?' } %></td>
            <td class="title">
              <%= link_to article_path(article) do %><%= article.title %><% end %>
            </td>
          </tr>
        <% end %>
        <!-- <tr> -->
        <!--   <td class="new-article"><%= link_to 'New article', new_article_path %></td> -->
        <!--   <td></td> -->
        <!-- </tr> -->
      </table>
    </div>

  </div>
</div>

<%= render 'sidebar' %>

