
<div class="container">
  <div class="spacer"></div>
  <div class="blog">

    <div id="show" class="content">
      <div class="title"> <%= @article.title %> </div>
      <div class="date"> <%= @article.publish_date %> </div>
      <div class="text"> <%= render inline: @parsed_text %> </div>
      <%= link_to 'Back', :back %>
    </div>

  </div>
</div>

<%= render 'sidebar' %>

