
<div class="container">
  <div class="spacer"></div>
  <div class="blog">

    <div id="show" class="content">
      <p>
        Title: <%= @article.title %>
      </p>
      <p>
        Text:
        <%= render inline: @parsed_text %>
      </p>
      <%= link_to 'edit', edit_article_path(@article) %> | 
      <%= link_to 'Back', articles_path %>
    </div>

  </div>
</div>

<%= render 'sidebar' %>

